@model InAndOut.Models.expenseCategory
@* If We use IEnumerable then nothing will be show in cshtml tag i.e. asp-for since it only gets
	single object and IEnumerable us use for getting bulk of variable at a time *@

<form method="post" asp-action="DeletePose">
	<input asp-for="Id" hidden />
	<div class="container">
		<div asp-validation-summary="All" class="text-info"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<div class="col-6">
						<label asp-for="Category"></label>
					</div>
					


				</div>
				<div class="form-group row">
					<div class="col-6">
						<input asp-for="Category" disabled class="form-control" />
						
					</div>
					


				</div>
			</div>
		</div>


	</div>


	<div class="form-group row">
		<div class="col-8 offset-2 row">
			<div class="col">
				<input type="submit" value="Delete" class="btn btn-outline-danger w-75">
			</div>
			<div class="col">
				<a class="btn btn-outline-success w-75" asp-action="Index">Back</a>
			</div>
		</div>
	</div>

</form>

